@model IEnumerable<eltpos.Models.Suppliers>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SupplierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierCity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierCity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
